$color-orange: #ff6b00;

$color-black: #383334;

main {
  .main__logo {
    display: block;
    margin: 0 auto;
    padding-top: 45px;
  }
  h2 {
    font-size: 48px;
    font-weight: 900;
    color: $color-black;
    text-align: center;
    padding-top: 20px;
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
    color: #2b2828;
    text-align: center;
    padding-top: 30px;
  }
  .main__stage-disease {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    .main__info {
      width: 350px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      .circle__stage-one,
      .circle__stage-two,
      .circle__stage-three {
        position: relative;
        width: 200px;
        height: 200px;
        &::after {
          content: "";
          position: absolute;
          bottom: 14px;
          right: 14px;
          width: 205px;
          height: 205px;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent;
          -moz-border-radius: 50px 50px 50px 50px;
          border-radius: 50%;
          -webkit-transform: rotate(-65deg);
          -moz-transform: rotate(-65deg);
          -ms-transform: rotate(-65deg);
          -o-transform: rotate(-65deg);
          transform: rotate(-65deg);
        }
        .circle__stage-number {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          font-weight: 400;
          color: white;
          border-radius: 50%;
          position: absolute;
          top: 4px;
          right: 10px;
          z-index: 9;
        }
      }
      strong {
        font-size: 22px;
        font-weight: 500;
        color: black;
        padding-top: 40px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        color: #444;
        padding-top: 15px;
        line-height: 28px;
        &::before {
          content: '';
          position: absolute;
          border-top: 3px solid #becbd8;
          width: 55px;
          bottom: 100px;
        }
      }
    }
  }
}

.circle__stage-one::after  {
  border-right: 10px solid #ec9a6a;
  border-top: 10px solid #ec9a6a;
}

.circle__stage-number {
  background: #ec9a6a;
}

.circle__stage-two::after {
  border-right: 10px solid #e47643;
  border-top: 10px solid #e47643;
}

.circle__stage-number {
  background: #e47643;
}

.circle__stage-three::after {
  border-right: 10px solid #ec5b19;
  border-top: 10px solid #ec5b19;
}

.circle__stage-number {
  background: #ec5b19;
}

main {
  padding-bottom: 30px;
  h5 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: #444;
    margin-top: 50px;
    padding: 40px;
    border: 3px solid #f4d3bb;
    line-height: 28px;
    position: relative;
    &::before {
      content: "";
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      background-image: url("../images/img/grama.jpg");
      height: 37px;
      width: 134px;
      top: -18px;
      left: 43%;
    }
    strong {
      font-weight: 500;
    }
  }
}