@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap');

$color-green: #a7c93d;

$color-orange: #ff6b00;

$color-black: #383334;

@media (min-width: 1200px) {
  .container {
    max-width: 1199px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 498px;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
  outline: none;
}

header {
  background-image: url(../images/img/banner.png);
  height: 775px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .background__tablets {
    background-image: url(../images/img/tablets.png);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 15% 50%;
  }
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 40px 0;
  .header__logo {
    display: flex;
    align-items: center;
    strong{
      font-weight: 900;
      font-size: 22px;
      color: $color-black;
      padding-left: 17px;
    }
  }
  .description {
    display: flex;
    align-items: center;
    padding-left: 40px;
    &:last-child {
      padding-right: 20px;
    }
    span {
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      color: #666;
      padding-left: 12px;
    }
  }
  .indent-d {
    padding-left: 80px;
  }
}

.block__form-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  section {
    margin-right: 25px;
    width: 375px;
    h1 {
      font-weight: 900;
      font-size: 44px;
      color: $color-black;
      span {
        font-size: 34px;
        b:first-child {
          text-decoration: underline $color-orange;
        }
        b:last-child {
          text-decoration: underline $color-green;
        }
      }
    }
    .section__text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 43px;
      position: relative;
      .circle {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 7px solid #e8edc9;
        background: #a7c93d;
        color: white;
      }
      p {
        width: calc(100% - 80px);
        font-size: 20px;
        font-weight: 400;
        span {
          font-weight: 500;
        }
      }
    }
  }
}

%circle-before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.orange-border {
  .circle::before {
    @extend %circle-before;
    background-image: url("../images/icon/arrow.png");
    height: 30px;
    width: 9px;
    top: 8px;
    b {
      text-decoration: underline $color-orange;
    }
  }
}

.green-border {
  .circle::before {
    @extend %circle-before;
    background-image: url("../images/icon/plus.png");
    height: 39px;
    width: 9px;
    top: 8px;
    b {
      text-decoration: underline $color-green;
    }
  }
}

%line {
  position: absolute;
  width: 100%;
  height: 50%;
  content: '';
  border-bottom: 1px solid $color-orange;
  pointer-events: none;
}

.block__form-text {
  .form {
    width: 215px;
    height: 545px;
    box-sizing: content-box;
    text-align: center;
    background: white;
    border: 7px solid $color-green;
    border-radius: 15px;
    position: relative;
    padding: 0 20px;
    &::after {
      @extend %circle-before;
      background-image: url("../images/img/arrow_red.png");
      height: 233px;
      width: 49px;
      top: 160px;
      right: -35px;
    }
  }
  .sale {
    position: absolute;
    top: -7px;
    right: 52px;
    background: #f3f9ff;
    border-bottom: 7px solid $color-green;
    border-left: 7px solid $color-green;
    border-right: 7px solid $color-green;
    padding: 0 12px 12px 43px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    &::before {
      @extend %circle-before;
      top: 0;
      background-image: url("../images/icon/car.png");
      height: 15px;
      width: 27px;
      left: 10px;
    }
  }
  h3 {
    padding-top: 45px;
    color: black;
    font-weight: 400;
    font-size: 20px;
    strong {
      line-height: normal;
      color: $color-orange;
      font-weight: 500;
    }
  }
  .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    padding-top: 14px;
    .old__price, .new__price {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-size: 14px;
      }
      strong {
        font-size: 34px;
      }
    }
    .old__price {
      span {
        color: #666;
      }
      strong {
        font-weight: 300;
        margin-top: 10px;
        position: relative;
        &::before {
         @extend %line;
          transform: rotate(-17deg);
        }
        &::after {
          @extend %line;
          left: 0;
          transform: rotate(17deg);
        }
      }
    }
    .new__price {
      strong {
        font-weight: 900;
        padding: 3px 7px;
        background: #ffc902;
        border-radius: 5px;
        margin-top: 7px;
      }
    }
  }
}

.form {
  form {
    padding-top: 15px;
    label {
      position: relative;
      &:first-child > input {
        margin-bottom: 10px;
      }
      input {
        background: #eef2f7;
        width: 137px;
        padding: 23px 23px 23px 54px;
        border-radius: 37px;
        box-shadow: inset 0 0 3px 0 #d9d9d9;
        color: #666;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid transparent;
        &:focus {
          border: 1px solid #ffc902;
        }
      }
    }
    .name::after {
      @extend %circle-before;
      background-image: url("../images/icon/name.png");
      height: 23px;
      width: 19px;
      top: 0;
      left: 22px;
    }
    .tel::after {
      @extend %circle-before;
      background-image: url("../images/icon/tel.png");
      height: 24px;
      width: 21px;
      top: 0;
      left: 24px;
    }
    button {
      width: 168px;
      padding: 8px 24px;
      border-radius: 37px;
      background: #ffc902;
      margin-top: 15px;
      color: black;
      font-size: 16px;
      font-weight: 700;
      position: relative;
      transition: .3s;
      cursor: pointer;
      &:hover {
        opacity: .8;
      }
      &::before {
        content: '';
        position: absolute;
        border: 2px solid #ffd94e;
        width: 200px;
        height: 52px;
        border-radius: 35px;
        top: 5px;
        left: 6px;
      }
      b {
        font-size: 28px;
      }
    }
  }
}

.form {
  p {
    font-size: 18px;
    font-weight: 400;
    color: #444;
    padding-top: 20px;
    b {
      color: $color-green;
    }
  }
  .shield {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    left: 0;
    bottom: 0;
    border-radius: 0 0 7px 7px;
    padding: 15px 0;
    position: absolute;
    background: #eef2f7;
    &::before {
      @extend %circle-before;
      background-image: url("../images/icon/shield.png");
      height: 20px;
      width: 19px;
      bottom: 12px;
      left: 17px;
    }
  }
}