@media screen and (max-width: 1199px) {
  header {
    height: 560px;
    .background__tablets {
      background-position: 0 50%;
      height: 62%;
    }
  }
  .block__form-text section h1 {
    font-size: 40px;
  }
  .block__form-text section .section__text {
    padding-top: 30px;
  }
  main .main__logo {
    padding-top: 125px;
  }
  main h2 {
    font-size: 40px;
  }
  main h4 {
    font-size: 23px;
  }
  main .main__stage-disease {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
  }
  main .main__stage-disease .main__info {
    padding-top: 35px;
  }
}

@media screen and (max-width: 991px) {
  .header__top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__top .indent-d {
    padding-left: 40px;
  }
  main .main__logo {
    padding-top: 158px;
  }
  .green-border .circle::before {
    top: 1px;
  }
  .orange-border .circle::before {
    top: 1px;
  }
}

@media screen and (max-width: 767px) {
  .block__form-text {
    justify-content: center;
    flex-wrap: wrap;
  }
  main .main__logo {
         padding-top: 665px;
       }
  main h5::before {
    left: 37%;
  }
  .block__form-text section {
    padding-bottom: 40px;
    margin-right: 0;
  }
  .block__form-text .sale {
    background: #fff;
  }
}