@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap");
@media (min-width: 1200px) {
  .container {
    max-width: 1199px; } }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  min-width: 498px; }

a {
  text-decoration: none; }

input, button {
  border: none;
  outline: none; }

header {
  background-image: url(../images/img/banner.png);
  height: 775px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  header .background__tablets {
    background-image: url(../images/img/tablets.png);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 15% 50%; }

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 40px 0; }
  .header__top .header__logo {
    display: flex;
    align-items: center; }
    .header__top .header__logo strong {
      font-weight: 900;
      font-size: 22px;
      color: #383334;
      padding-left: 17px; }
  .header__top .description {
    display: flex;
    align-items: center;
    padding-left: 40px; }
    .header__top .description:last-child {
      padding-right: 20px; }
    .header__top .description span {
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      color: #666;
      padding-left: 12px; }
  .header__top .indent-d {
    padding-left: 80px; }

.block__form-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .block__form-text section {
    margin-right: 25px;
    width: 375px; }
    .block__form-text section h1 {
      font-weight: 900;
      font-size: 44px;
      color: #383334; }
      .block__form-text section h1 span {
        font-size: 34px; }
        .block__form-text section h1 span b:first-child {
          text-decoration: underline #ff6b00; }
        .block__form-text section h1 span b:last-child {
          text-decoration: underline #a7c93d; }
    .block__form-text section .section__text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 43px;
      position: relative; }
      .block__form-text section .section__text .circle {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 7px solid #e8edc9;
        background: #a7c93d;
        color: white; }
      .block__form-text section .section__text p {
        width: calc(100% - 80px);
        font-size: 20px;
        font-weight: 400; }
        .block__form-text section .section__text p span {
          font-weight: 500; }

.orange-border .circle::before, .green-border .circle::before, .block__form-text .form::after, .block__form-text .sale::before, .form form .name::after, .form form .tel::after, .form .shield::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; }

.orange-border .circle::before {
  background-image: url("../images/icon/arrow.png");
  height: 30px;
  width: 9px;
  top: 8px; }
  .orange-border .circle::before b {
    text-decoration: underline #ff6b00; }

.green-border .circle::before {
  background-image: url("../images/icon/plus.png");
  height: 39px;
  width: 9px;
  top: 8px; }
  .green-border .circle::before b {
    text-decoration: underline #a7c93d; }

.block__form-text .price .old__price strong::before, .block__form-text .price .old__price strong::after {
  position: absolute;
  width: 100%;
  height: 50%;
  content: '';
  border-bottom: 1px solid #ff6b00;
  pointer-events: none; }

.block__form-text .form {
  width: 215px;
  height: 545px;
  box-sizing: content-box;
  text-align: center;
  background: white;
  border: 7px solid #a7c93d;
  border-radius: 15px;
  position: relative;
  padding: 0 20px; }
  .block__form-text .form::after {
    background-image: url("../images/img/arrow_red.png");
    height: 233px;
    width: 49px;
    top: 160px;
    right: -35px; }

.block__form-text .sale {
  position: absolute;
  top: -7px;
  right: 52px;
  background: #f3f9ff;
  border-bottom: 7px solid #a7c93d;
  border-left: 7px solid #a7c93d;
  border-right: 7px solid #a7c93d;
  padding: 0 12px 12px 43px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #444;
  font-size: 16px;
  font-weight: 400; }
  .block__form-text .sale::before {
    top: 0;
    background-image: url("../images/icon/car.png");
    height: 15px;
    width: 27px;
    left: 10px; }

.block__form-text h3 {
  padding-top: 45px;
  color: black;
  font-weight: 400;
  font-size: 20px; }
  .block__form-text h3 strong {
    line-height: normal;
    color: #ff6b00;
    font-weight: 500; }

.block__form-text .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  padding-top: 14px; }
  .block__form-text .price .old__price, .block__form-text .price .new__price {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .block__form-text .price .old__price span, .block__form-text .price .new__price span {
      font-size: 14px; }
    .block__form-text .price .old__price strong, .block__form-text .price .new__price strong {
      font-size: 34px; }
  .block__form-text .price .old__price span {
    color: #666; }
  .block__form-text .price .old__price strong {
    font-weight: 300;
    margin-top: 10px;
    position: relative; }
    .block__form-text .price .old__price strong::before {
      transform: rotate(-17deg); }
    .block__form-text .price .old__price strong::after {
      left: 0;
      transform: rotate(17deg); }
  .block__form-text .price .new__price strong {
    font-weight: 900;
    padding: 3px 7px;
    background: #ffc902;
    border-radius: 5px;
    margin-top: 7px; }

.form form {
  padding-top: 15px; }
  .form form label {
    position: relative; }
    .form form label:first-child > input {
      margin-bottom: 10px; }
    .form form label input {
      background: #eef2f7;
      width: 137px;
      padding: 23px 23px 23px 54px;
      border-radius: 37px;
      box-shadow: inset 0 0 3px 0 #d9d9d9;
      color: #666;
      font-weight: 400;
      font-size: 16px;
      border: 1px solid transparent; }
      .form form label input:focus {
        border: 1px solid #ffc902; }
  .form form .name::after {
    background-image: url("../images/icon/name.png");
    height: 23px;
    width: 19px;
    top: 0;
    left: 22px; }
  .form form .tel::after {
    background-image: url("../images/icon/tel.png");
    height: 24px;
    width: 21px;
    top: 0;
    left: 24px; }
  .form form button {
    width: 168px;
    padding: 8px 24px;
    border-radius: 37px;
    background: #ffc902;
    margin-top: 15px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    transition: .3s;
    cursor: pointer; }
    .form form button:hover {
      opacity: .8; }
    .form form button::before {
      content: '';
      position: absolute;
      border: 2px solid #ffd94e;
      width: 200px;
      height: 52px;
      border-radius: 35px;
      top: 5px;
      left: 6px; }
    .form form button b {
      font-size: 28px; }

.form p {
  font-size: 18px;
  font-weight: 400;
  color: #444;
  padding-top: 20px; }
  .form p b {
    color: #a7c93d; }

.form .shield {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  left: 0;
  bottom: 0;
  border-radius: 0 0 7px 7px;
  padding: 15px 0;
  position: absolute;
  background: #eef2f7; }
  .form .shield::before {
    background-image: url("../images/icon/shield.png");
    height: 20px;
    width: 19px;
    bottom: 12px;
    left: 17px; }

main .main__logo {
  display: block;
  margin: 0 auto;
  padding-top: 45px; }

main h2 {
  font-size: 48px;
  font-weight: 900;
  color: #383334;
  text-align: center;
  padding-top: 20px; }

main h4 {
  font-size: 24px;
  font-weight: 700;
  color: #2b2828;
  text-align: center;
  padding-top: 30px; }

main .main__stage-disease {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px; }
  main .main__stage-disease .main__info {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
    main .main__stage-disease .main__info .circle__stage-one,
    main .main__stage-disease .main__info .circle__stage-two,
    main .main__stage-disease .main__info .circle__stage-three {
      position: relative;
      width: 200px;
      height: 200px; }
      main .main__stage-disease .main__info .circle__stage-one::after,
      main .main__stage-disease .main__info .circle__stage-two::after,
      main .main__stage-disease .main__info .circle__stage-three::after {
        content: "";
        position: absolute;
        bottom: 14px;
        right: 14px;
        width: 205px;
        height: 205px;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        -moz-border-radius: 50px 50px 50px 50px;
        border-radius: 50%;
        -webkit-transform: rotate(-65deg);
        -moz-transform: rotate(-65deg);
        -ms-transform: rotate(-65deg);
        -o-transform: rotate(-65deg);
        transform: rotate(-65deg); }
      main .main__stage-disease .main__info .circle__stage-one .circle__stage-number,
      main .main__stage-disease .main__info .circle__stage-two .circle__stage-number,
      main .main__stage-disease .main__info .circle__stage-three .circle__stage-number {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 400;
        color: white;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        right: 10px;
        z-index: 9; }
    main .main__stage-disease .main__info strong {
      font-size: 22px;
      font-weight: 500;
      color: black;
      padding-top: 40px; }
    main .main__stage-disease .main__info p {
      font-size: 18px;
      font-weight: 400;
      color: #444;
      padding-top: 15px;
      line-height: 28px; }
      main .main__stage-disease .main__info p::before {
        content: '';
        position: absolute;
        border-top: 3px solid #becbd8;
        width: 55px;
        bottom: 100px; }

.circle__stage-one::after {
  border-right: 10px solid #ec9a6a;
  border-top: 10px solid #ec9a6a; }

.circle__stage-number {
  background: #ec9a6a; }

.circle__stage-two::after {
  border-right: 10px solid #e47643;
  border-top: 10px solid #e47643; }

.circle__stage-number {
  background: #e47643; }

.circle__stage-three::after {
  border-right: 10px solid #ec5b19;
  border-top: 10px solid #ec5b19; }

.circle__stage-number {
  background: #ec5b19; }

main {
  padding-bottom: 30px; }
  main h5 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: #444;
    margin-top: 50px;
    padding: 40px;
    border: 3px solid #f4d3bb;
    line-height: 28px;
    position: relative; }
    main h5::before {
      content: "";
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      background-image: url("../images/img/grama.jpg");
      height: 37px;
      width: 134px;
      top: -18px;
      left: 43%; }
    main h5 strong {
      font-weight: 500; }

@media screen and (max-width: 1199px) {
  header {
    height: 560px; }
    header .background__tablets {
      background-position: 0 50%;
      height: 62%; }
  .block__form-text section h1 {
    font-size: 40px; }
  .block__form-text section .section__text {
    padding-top: 30px; }
  main .main__logo {
    padding-top: 125px; }
  main h2 {
    font-size: 40px; }
  main h4 {
    font-size: 23px; }
  main .main__stage-disease {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap; }
  main .main__stage-disease .main__info {
    padding-top: 35px; } }

@media screen and (max-width: 991px) {
  .header__top {
    flex-wrap: wrap;
    justify-content: center; }
  .header__top .indent-d {
    padding-left: 40px; }
  main .main__logo {
    padding-top: 158px; }
  .green-border .circle::before {
    top: 1px; }
  .orange-border .circle::before {
    top: 1px; } }

@media screen and (max-width: 767px) {
  .block__form-text {
    justify-content: center;
    flex-wrap: wrap; }
  main .main__logo {
    padding-top: 665px; }
  main h5::before {
    left: 37%; }
  .block__form-text section {
    padding-bottom: 40px;
    margin-right: 0; }
  .block__form-text .sale {
    background: #fff; } }
